*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 90vh ;
    background-image: ;
    background-position: center center;
    background-size: contain;
}
header{
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 35px;
    background-color: antiquewhite;
}
header > a{
    color: black;
    font-size: 2em;
    font-variant: small-caps;
    text-decoration: none;
    text-align: center;
}
article{
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.texto{
    padding: 10px;
    text-align: center;
}
.fotos{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: center;
}
.fotos a:hover{
    transform: translate(-10%-10%);
}
img{
    width: 240px;
    height: 620px;
    margin: 15px;
    border-radius: 20px;
}
@media(max-width:650px){
    main{
        display: flex;
        flex-flow: row wrap;
    }
    img{
        border-radius: 20px;
        width: 150px;
        height: 200px;
        margin: 0px;
}
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    line-height: 1.8em;
    background-color: rgba(255, 255, 255, 0.641);
}