*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 6vh 2fr 1fr 1vh ;
    grid-template-areas: 
    "h "
    "z"
    "k"
    "t"
    "f";
    background-color: rgb(243, 250, 215);
}

header{
    grid-area: h ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 232, 24, 0.837), rgba(255, 255, 255, 0)
    )
}
header > a{
    margin: 10px;
    color: black;
    text-decoration: none;
}
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 57vh;
}
section{
    max-width: 900px;
    margin: auto;
}
h1{
    font-size: 2.6em;
    text-align: center;
}
p{
    text-align: center;
    font-size: 28px;
    margin: 20px;
}
footer{
    grid-area: f ;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.309));
}