*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 85vh;
    background-image: url(../fotos/fundo-gato.png);
    background-size: contain;
    background-position: center center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}
header > a{
    color: black;
    text-decoration: none;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.082);
}
main{

}

div{
   
    max-width: 600px; 
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.282);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.273);

}
div > h2{
    color: rgba(0, 0, 0, 0.875);
    margin: 15px;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.125);
}
div > ul{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    list-style: none;
    padding: 10px;
}
li{
    margin: 5px;
}
li > a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    color: black;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.125);
}
li > a:hover{
    font-size: 26px;
    color: rgba(0, 0, 255, 0.447);
}