body, p, h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
body{
    height: 100vh;
    background-image: url(../);
    background-size: cover;
}
header{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 30px;
}
h1{
    font-size: 4em;
    font-variant: small-caps;
    color: white;
}
section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    margin: auto;
    background-color: rgba(245, 222, 179, 0.481);
    border-radius: 10px;
}
.lista{
    padding: 0%;
    text-align: center;
    list-style: none;
}
li{
    padding: 10px;
}
p{
    font-size: 2em;
    text-align: center;
}
a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: brown;
}
