*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 40px;
    background-color: rgba(90, 90, 90, 0.51);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.204);
}
h1{
    text-align: center;
    font-size: 4em;
    font-variant: small-caps;
}
.fundo{
    height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center top;
    background-image: url(../fotos/fundo-gato.png);
}
.mid{ 
    margin: 0px auto;
    padding: 30px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    max-width: 800px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.609);
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.204);
}
.lista{
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}
li{
    margin: 15px;
}
p{
    text-align: center;
    font-size: 2em;
}
a{
    font-size: medium;
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: larger;
    padding-left: 15px;
    transition: 1s;
}
